<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#43A047">
  <% for (var chunk in  htmlWebpackPlugin.files.chunks) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script"></script>
  <% } %>
  <link rel="manifest" href="/static/manifest.json">
  <title>Minidium</title>
  <script>
    window.addEventListener('load', () => {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('Yay! we have a sw'))
          .catch(() => console.log('Oh! No!!!'));
        }
    });
  </script>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="container"></div>
  <noscript><h1> Upgrade to a newer browser or enable JavaScript? </h1></noscript>
</body>
<% for (var chunk in  htmlWebpackPlugin.files.chunks) { %>
  <script async="" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

</html>