<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <% for (var chunk in  htmlWebpackPlugin.files.chunks) { %>
    <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script"></script>
  <% } %>
  <title>Minidium</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="container"></div>
  <noscript><h1> Upgrade to a newer browser or enable JavaScript? </h1></noscript>
</body>
<% for (var chunk in  htmlWebpackPlugin.files.chunks) { %>
  <script async="" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

</html>